<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">

      <div class="d-flex justify-content-between">
        <h2>ショッピングカート</h2>
        <%= link_to 'カートを空にする', destroy_all_cart_products_path, method: :delete, data: { confirm: '本当にすべて削除しますか？' }, remote: true, class: 'btn btn-danger' %>
      </div>

      <div id="cart_index">
        <%= render 'index', cart_products: @cart_products, total_price: @total_price %>
      </div>

      <div class="mt-5">
        <%= link_to '買い物を続ける', products_path, class: 'btn btn-primary' %>
      </div>

      <div class="order-btn d-flex justify-content-center mb-5">
        <%= link_to '情報入力に進む', new_order_path, class: 'btn btn-success' %>
      </div>

    </div>
  </div>
</div>