= form_with url: products_path, method: :get, local: :true do |f|
  = f.search_field :word, value: params[:word]
  = f.collection_select :genre_id, Genre.all, :id, :name, { selected: params[:genre_id], prompt: '--ジャンルを選択--' }
  = f.submit "\uF002", class: 'search-btn btn btn-sm btn-outline-primary'