<div class='search-form'>
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :content, placeholder: '商品名' %>
    <%= f.collection_select :genre, Genre.all, :id, :name, { prompt: '--ジャンル--' } %>
    <%= f.submit "\uF002", class: 'search-btn btn btn-sm btn-outline-primary' %>
  <% end %>
</div>