<div class="container ">
  <div class="row mb-5">
    <div class="col-md-10">
      <h3 class="mb-5 ml-5">配送先登録/一覧</h3>
      <div id="address_error_form">
          <%= render "layouts/errors", obj: @address %>
      </div>
      <div id="address_form">
        <%= render 'addresses/address_form', address: @address %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-10" id="addresses_index">
      <%= render 'addresses/index', addresses: @addresses %>
    </div>
  </div>
</div>
