// Place all the styles related to the addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// フォーム欄の調整
.form{
  display: flex;
  margin-bottom: 10px;
  
  .label{
  width: 250px;
  }
  
  .form-box{
    width: 500px;
    #address-form{
      width: 80%;
    }
  }
}

.btn-address{
  display: inline-block;
}

.button_to{
  display: inline-block;
}