// Place all the styles related to the addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// フォーム欄の調整
.form{
  display: flex;
  margin-bottom: 10px;
  
  .label{
  width: 250px;
  }
  
  .form-box{
    width: 500px;
    #address-form{
      width: 80%;
    }
  }
}

// テーブルの
table{
  margin-top: 50px;
  th{
    background-color: #EEEEEE;
  }
  th, td{
    border:1px solid #000066;
    height: 60px;
  }
  .btn-edit, .btn-destroy{
    width: 90px;
    margin: 15px;
  }
}
