// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box{
  h4 {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  }
  .btn{
    display: inline-block;
  }
}

.taikai-box{
  text-align: right;
  display: table;
  height: 100％;
}

.btn-taikai{
  display: table-cell;
　vertical-align: bottom;
}