// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-group {
  width: 550px;
}

.products-container {
  width: 860px;
  flex-wrap: wrap;
}

.one-product {
  margin-right: 20px;
  margin-bottom: 20px;
  &:nth-child(4n) {
    margin-right: 0;
  }
}

.product-name {
  margin-top: 5px;
  margin-bottom: 0;
}

.product-search-form {
  display: none;
  position: absolute;
  left: 490px;
  top: 37px;
  background-color: white;
  z-index: 1;
}

.active {
  display: block;
}

#sort {
  height: 37px;
}

#price {
  width: 100%;
}


#up-button {
  display: none;
  height: 37px;
}

#down-button {
  height: 37px;
}


#max_price {
  height: 37px;
}

#min_price {
  height: 37px;
}

.product_text_search_form {
  height: 37px;
}