<div class='search-form'>
  <%= form_with url: admin_search_path, method: :get, local: true do |f| %>
    <%= f.text_field :content, placeholder: '会員名 / 商品名' %>
    <%= f.select :model, options_for_select({ '会員' => 'customer', '商品' => 'product' }) %>
    <%= f.submit "\uF002", class: 'search-btn btn btn-sm btn-outline-primary' %>
  <% end %>
</div>