<div class='admin-search-form'>
  <%= form_with url: admin_search_path, method: :get, local: true, class: "search-form" do |f| %>
    <div class='input-group-append my-3'>
      <%= f.select :model, options_for_select({ '会員' => 'customer', '商品' => 'product' }) %>
      <%= f.text_field :content, placeholder: '会員名 / 商品名', class: "search-text" %>
      <%= f.submit "\uF002", class: 'search-btn btn btn-sm btn-outline-primary' %>
    </div>
  <% end %>
</div>